// Path to your input file in the format (including header names) shown in the example input file
params.input_file = "/path/to/repo/example_input.csv"

// Path to a directory you want the sequences to be downloaded to. They will be deleted after mapping with kallisto
params.scratch_dir = "/path/to/your/tmp/dir"

// Path to your reference CDS to map the RNA reads to
params.ref_cds = "/path/to/your/CDS.fasta"
