// Path to your input file in the format (including header names) shown in the example input file
params.input_file = "/path/to/repo/example_input.csv"

// Path to a directory you want the sequences to be downloaded to. They will be deleted after mapping with kallisto
params.scratch_dir = "/path/to/your/tmp/dir"

// Path to your reference cDNA/CDS to map the RNA reads to
params.ref_fasta = "/path/to/your/reference.fasta"

// If you have local sequences you'd like to include you can refer to them here
// For paired-end sequences:
params.local_reads_paired = "/path/to/paired/fastq/files/*_R{1,2}.fq.gz"
// For single-end sequences:
params.local_reads_single = "/path/to/single/fastq/files/*.fq.gz"
// Like in the input CSV file, kallisto needs an estimate of the fragment length mean and standard deviation
// This will be used for all sequences found in the folder
params.local_reads_single_fraglength_mean = 200
params.local_reads_single_fraglength_sd = 30

// Here you can limit the number of sequences which are downloaded from SRA at the same time to avoid timeouts
params.max_sra_forks = 12